.markdown-input {
  outline: none;
  background-color: var(--color-gray-100);
  /* border: 1px solid transparent; */
  /* padding: 0.5rem; */
}

.h1-style {
  font-size: 2em;
  font-weight: bold;
}
.h2-style {
  font-size: 1.5em;
  font-weight: bold;
}
.h3-style {
  font-size: 1.2em;
  font-weight: bold;
}
.p-style {
  font-size: 1em;
}

.md-symbol {
  opacity: 0.4;
  user-select: none;
}
