@import 'tailwindcss';

:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500; /* or 600 for more Obsidian-like headers */
  line-height: 1.4;
  letter-spacing: -0.01em;
}
body.resizing {
  user-select: none;
  cursor: col-resize;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
.resizing {
  user-select: none !important;
}
.resizer {
  width: 4px;
  cursor: col-resize;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.resizer:hover {
  background-color: orange; /* Change to any color you like */
}
/* index.css */
.disable-select {
  user-select: none !important;
  -webkit-user-select: none !important; /* for Safari */
  -moz-user-select: none !important;
}
